@import url(material-theme/dark.css);

.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0.6rem 1rem;

  background: var(--md-sys-color-surface);
  border-bottom: 1px solid var(--md-sys-color-outline);
}

.main-nav a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--md-sys-color-on-surface-variant);
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
}

.main-nav a.active {
  background: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}
