.dark-medium-contrast {
  --md-sys-color-primary: rgb(202 221 255);
  --md-sys-color-surface-tint: rgb(166 200 255);
  --md-sys-color-on-primary: rgb(0 38 76);
  --md-sys-color-primary-container: rgb(112 146 198);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(210 221 242);
  --md-sys-color-on-secondary: rgb(28 38 54);
  --md-sys-color-secondary-container: rgb(135 145 165);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(166 235 194);
  --md-sys-color-on-tertiary: rgb(0 44 26);
  --md-sys-color-tertiary-container: rgb(92 158 121);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 19 24);
  --md-sys-color-on-background: rgb(225 226 233);
  --md-sys-color-surface: rgb(17 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(67 71 78);
  --md-sys-color-on-surface-variant: rgb(217 220 229);
  --md-sys-color-outline: rgb(175 178 187);
  --md-sys-color-outline-variant: rgb(141 144 153);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 226 233);
  --md-sys-color-inverse-on-surface: rgb(40 42 47);
  --md-sys-color-inverse-primary: rgb(35 73 120);
  --md-sys-color-primary-fixed: rgb(212 227 255);
  --md-sys-color-on-primary-fixed: rgb(0 17 40);
  --md-sys-color-primary-fixed-dim: rgb(166 200 255);
  --md-sys-color-on-primary-fixed-variant: rgb(11 55 101);
  --md-sys-color-secondary-fixed: rgb(216 227 248);
  --md-sys-color-on-secondary-fixed: rgb(7 17 32);
  --md-sys-color-secondary-fixed-dim: rgb(188 199 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(44 55 71);
  --md-sys-color-tertiary-fixed: rgb(172 242 200);
  --md-sys-color-on-tertiary-fixed: rgb(0 21 10);
  --md-sys-color-tertiary-fixed-dim: rgb(145 213 173);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 63 38);
  --md-sys-color-surface-dim: rgb(17 19 24);
  --md-sys-color-surface-bright: rgb(66 68 74);
  --md-sys-color-surface-container-lowest: rgb(5 7 12);
  --md-sys-color-surface-container-low: rgb(27 30 34);
  --md-sys-color-surface-container: rgb(37 40 45);
  --md-sys-color-surface-container-high: rgb(48 51 56);
  --md-sys-color-surface-container-highest: rgb(59 62 67);
  --md-extended-color-custom-color1-color: rgb(218 217 255);
  --md-extended-color-custom-color1-on-color: rgb(31 31 85);
  --md-extended-color-custom-color1-color-container: rgb(139 139 200);
  --md-extended-color-custom-color1-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color2-color: rgb(202 221 255);
  --md-extended-color-custom-color2-on-color: rgb(0 38 76);
  --md-extended-color-custom-color2-color-container: rgb(112 146 198);
  --md-extended-color-custom-color2-on-color-container: rgb(0 0 0);
}
