.dark {
  --md-sys-color-primary: rgb(166 200 255);
  --md-sys-color-surface-tint: rgb(166 200 255);
  --md-sys-color-on-primary: rgb(1 49 94);
  --md-sys-color-primary-container: rgb(34 72 118);
  --md-sys-color-on-primary-container: rgb(212 227 255);
  --md-sys-color-secondary: rgb(188 199 220);
  --md-sys-color-on-secondary: rgb(39 49 65);
  --md-sys-color-secondary-container: rgb(61 71 88);
  --md-sys-color-on-secondary-container: rgb(216 227 248);
  --md-sys-color-tertiary: rgb(145 213 173);
  --md-sys-color-on-tertiary: rgb(0 56 34);
  --md-sys-color-tertiary-container: rgb(2 82 51);
  --md-sys-color-on-tertiary-container: rgb(172 242 200);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(17 19 24);
  --md-sys-color-on-background: rgb(225 226 233);
  --md-sys-color-surface: rgb(17 19 24);
  --md-sys-color-on-surface: rgb(225 226 233);
  --md-sys-color-surface-variant: rgb(67 71 78);
  --md-sys-color-on-surface-variant: rgb(195 198 207);
  --md-sys-color-outline: rgb(141 145 153);
  --md-sys-color-outline-variant: rgb(67 71 78);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 226 233);
  --md-sys-color-inverse-on-surface: rgb(46 48 53);
  --md-sys-color-inverse-primary: rgb(60 96 144);
  --md-sys-color-primary-fixed: rgb(212 227 255);
  --md-sys-color-on-primary-fixed: rgb(0 28 58);
  --md-sys-color-primary-fixed-dim: rgb(166 200 255);
  --md-sys-color-on-primary-fixed-variant: rgb(34 72 118);
  --md-sys-color-secondary-fixed: rgb(216 227 248);
  --md-sys-color-on-secondary-fixed: rgb(17 28 43);
  --md-sys-color-secondary-fixed-dim: rgb(188 199 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(61 71 88);
  --md-sys-color-tertiary-fixed: rgb(172 242 200);
  --md-sys-color-on-tertiary-fixed: rgb(0 33 18);
  --md-sys-color-tertiary-fixed-dim: rgb(145 213 173);
  --md-sys-color-on-tertiary-fixed-variant: rgb(2 82 51);
  --md-sys-color-surface-dim: rgb(17 19 24);
  --md-sys-color-surface-bright: rgb(55 57 62);
  --md-sys-color-surface-container-lowest: rgb(12 14 19);
  --md-sys-color-surface-container-low: rgb(25 28 32);
  --md-sys-color-surface-container: rgb(29 32 36);
  --md-sys-color-surface-container-high: rgb(40 42 47);
  --md-sys-color-surface-container-highest: rgb(50 53 58);
  --md-extended-color-custom-color1-color: rgb(193 193 255);
  --md-extended-color-custom-color1-on-color: rgb(42 42 96);
  --md-extended-color-custom-color1-color-container: rgb(64 65 120);
  --md-extended-color-custom-color1-on-color-container: rgb(226 223 255);
  --md-extended-color-custom-color2-color: rgb(166 200 255);
  --md-extended-color-custom-color2-on-color: rgb(1 49 94);
  --md-extended-color-custom-color2-color-container: rgb(34 72 118);
  --md-extended-color-custom-color2-on-color-container: rgb(212 227 255);
}
