.dark-high-contrast {
  --md-sys-color-primary: rgb(234 240 255);
  --md-sys-color-surface-tint: rgb(166 200 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(162 196 251);
  --md-sys-color-on-primary-container: rgb(0 11 30);
  --md-sys-color-secondary: rgb(234 240 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(185 195 216);
  --md-sys-color-on-secondary-container: rgb(2 11 26);
  --md-sys-color-tertiary: rgb(187 255 214);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(141 209 169);
  --md-sys-color-on-tertiary-container: rgb(0 14 6);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(17 19 24);
  --md-sys-color-on-background: rgb(225 226 233);
  --md-sys-color-surface: rgb(17 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(67 71 78);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(237 240 249);
  --md-sys-color-outline-variant: rgb(192 194 203);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 226 233);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(35 73 120);
  --md-sys-color-primary-fixed: rgb(212 227 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(166 200 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 17 40);
  --md-sys-color-secondary-fixed: rgb(216 227 248);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(188 199 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(7 17 32);
  --md-sys-color-tertiary-fixed: rgb(172 242 200);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(145 213 173);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 21 10);
  --md-sys-color-surface-dim: rgb(17 19 24);
  --md-sys-color-surface-bright: rgb(78 80 85);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(29 32 36);
  --md-sys-color-surface-container: rgb(46 48 53);
  --md-sys-color-surface-container-high: rgb(57 59 65);
  --md-sys-color-surface-container-highest: rgb(68 71 76);
  --md-extended-color-custom-color1-color: rgb(241 238 255);
  --md-extended-color-custom-color1-on-color: rgb(0 0 0);
  --md-extended-color-custom-color1-color-container: rgb(189 189 253);
  --md-extended-color-custom-color1-on-color-container: rgb(3 0 59);
  --md-extended-color-custom-color2-color: rgb(234 240 255);
  --md-extended-color-custom-color2-on-color: rgb(0 0 0);
  --md-extended-color-custom-color2-color-container: rgb(162 196 251);
  --md-extended-color-custom-color2-on-color-container: rgb(0 11 30);
}
