.light {
  --md-sys-color-primary: rgb(60 96 144);
  --md-sys-color-surface-tint: rgb(60 96 144);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(212 227 255);
  --md-sys-color-on-primary-container: rgb(34 72 118);
  --md-sys-color-secondary: rgb(84 95 113);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(216 227 248);
  --md-sys-color-on-secondary-container: rgb(61 71 88);
  --md-sys-color-tertiary: rgb(38 106 74);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(172 242 200);
  --md-sys-color-on-tertiary-container: rgb(2 82 51);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(249 249 255);
  --md-sys-color-on-background: rgb(25 28 32);
  --md-sys-color-surface: rgb(249 249 255);
  --md-sys-color-on-surface: rgb(25 28 32);
  --md-sys-color-surface-variant: rgb(224 226 236);
  --md-sys-color-on-surface-variant: rgb(67 71 78);
  --md-sys-color-outline: rgb(116 119 127);
  --md-sys-color-outline-variant: rgb(195 198 207);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 48 53);
  --md-sys-color-inverse-on-surface: rgb(240 240 247);
  --md-sys-color-inverse-primary: rgb(166 200 255);
  --md-sys-color-primary-fixed: rgb(212 227 255);
  --md-sys-color-on-primary-fixed: rgb(0 28 58);
  --md-sys-color-primary-fixed-dim: rgb(166 200 255);
  --md-sys-color-on-primary-fixed-variant: rgb(34 72 118);
  --md-sys-color-secondary-fixed: rgb(216 227 248);
  --md-sys-color-on-secondary-fixed: rgb(17 28 43);
  --md-sys-color-secondary-fixed-dim: rgb(188 199 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(61 71 88);
  --md-sys-color-tertiary-fixed: rgb(172 242 200);
  --md-sys-color-on-tertiary-fixed: rgb(0 33 18);
  --md-sys-color-tertiary-fixed-dim: rgb(145 213 173);
  --md-sys-color-on-tertiary-fixed-variant: rgb(2 82 51);
  --md-sys-color-surface-dim: rgb(217 218 224);
  --md-sys-color-surface-bright: rgb(249 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(243 243 250);
  --md-sys-color-surface-container: rgb(237 237 244);
  --md-sys-color-surface-container-high: rgb(231 232 238);
  --md-sys-color-surface-container-highest: rgb(225 226 233);
  --md-extended-color-custom-color1-color: rgb(88 89 146);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(226 223 255);
  --md-extended-color-custom-color1-on-color-container: rgb(64 65 120);
  --md-extended-color-custom-color2-color: rgb(60 96 144);
  --md-extended-color-custom-color2-on-color: rgb(255 255 255);
  --md-extended-color-custom-color2-color-container: rgb(212 227 255);
  --md-extended-color-custom-color2-on-color-container: rgb(34 72 118);
}
