<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>دکمه و کارت</title>
  <link rel="stylesheet" href="button.css">
  <link rel="stylesheet" href="card.css">
</head>
<body>
    <p>
            <button class="btn-m3 btn-m3-md btn-m3-filled">Primary</button>
            <button class="btn-m3 btn-m3-md btn-m3-filled">Submit</button>
            <button class="btn-m3 btn-m3-lg btn-m3-outlined">Learn More</button>
            <a href="#" class="btn-m3 btn-m3-sm btn-m3-text">Details</a>
    </p>
  <section class="cards-container">

    <!-- Elevated Card -->
    <div class="card elevated-card">
      <h3>Elevated Card</h3>
      <p>سایه و عمق</p>
    </div>

    <!-- Filled Card -->
    <div class="card filled-card">
      <h3>Filled Card</h3>
      <p>بدون سایه و با رنگ پس‌زمینه</p>
    </div>

    <!-- Outlined Card -->
    <div class="card outlined-card">
      <h3>Outlined Card</h3>
      <p>کارت بدون سایه و دارای حاشیهٔ بیرونی</p>
    </div>

  </section>

</body>
</html>